
<button class="btn aplicacion">
    <img src="../../assets/noticias.png" width="25px" alt="">
    <b class="padd">Noticias</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/messenger.png" width="25px" alt="">
    <b class="padd">Messenger</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/video.png" width="25px" alt="">
    <b class="padd">Watch</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/marketplace.png" width="25px" alt="">
    <b class="padd">Marketplace</b>
</button>
<br>
<br>

<b class="accesos">Accesos directos</b><br>

<button class="btn aplicacion">
    <img src="../../assets/group.png" width="25px" alt="">
    <b class="padd">Chistes de Programacion</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/group.png" width="25px" alt="">
    <b class="padd">Cursos Gratis</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/group.png" width="25px" alt="">
    <b class="padd">Linux Latinoamerica</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/group.png" width="25px" alt="">
    <b class="padd">Grupo de amigos</b>
</button>
<br>
<a class="ver" href="#">Ver mas...</a><br><br>




<b class="accesos">Explorar</b><br>

<button class="btn aplicacion">
    <img src="../../assets/paginas.png" width="25px" alt="">
    <b class="padd">Paginas</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/group.png" width="25px" alt="">
    <b class="padd">Grupos</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/eventos.png" width="25px" alt="">
    <b class="padd">Eventos</b>
</button>
<br>
<button class="btn aplicacion">
    <img src="../../assets/recaudaciones.png" width="25px" alt="">
    <b class="padd">Recaudaciones</b>
</button>
<br>

