<div class="container">
<div class="row">

    <!--Muro del usuario-->  
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
             <b>Crear Publicacion</b>
            </div>
            <div class="card-header pensamiento">
                
                <img src="../../assets/avalos.jpg" class="foto-perfil" width="40px" alt="">&nbsp;&nbsp;&nbsp;
                <input type="text" class="que-piensas" placeholder="Que estas pensando Alejandro?">
               </div>
            <div class="card-header">
                <button class="btn opciones">
                    <img src="../../assets/galery.png" width="25px" alt="foto">&nbsp;
                    <b>Foto/Video</b>
                </button>
                &nbsp;
                <button class="btn opciones">
                    <img src="../../assets/friend.png" width="25px" alt="foto">&nbsp;
                    <b>Etiquetar amigos</b>
                </button>
                &nbsp;
                <button class="btn opciones">
                    <img src="../../assets/emocion.png" width="25px" alt="foto">&nbsp;
                    <b>Sentimiento</b>
                </button>
                &nbsp;
                <button class="btn opciones">
                    <b>...</b>
                </button>

               </div>
          </div>
          <br>
          
          <!--historias-->

          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
            
                <div class="row">
                    <div class="col his1"><br>
                        <img class="avatar" src="../../assets/avalos2.jpg" width="40px" alt="">
                    <br><br><br><br><br><br>
                    <b style="color: white;">Alejandro Avalos</b><br><br>
                    </div>&nbsp;
                    
                    <div class="col his2">
                        <br>
                        <img class="avatar" src="../../assets/avalos.jpg" width="40px" alt="">
                    <br><br><br><br><br><br>
                    <b style="color: white;">Daniel Santamaria</b><br><br>
                    </div>&nbsp;
                    
                    <div class="col his3">
                        <br>
                        <img class="avatar" src="../../assets/avalos3.jpg" width="40px" alt="">
                    <br><br><br><br><br><br>
                    <b style="color: white;">Alejandro Avalos</b><br><br>
                    </div>&nbsp;
                    
                    <div class="col his4">
                        <br>
                        <img class="avatar" src="../../assets/avalos2.jpg" width="40px" alt="">
                    <br><br><br><br><br><br>
                    <b style="color: white;">Daniel Santamaria</b><br><br>
                    </div>&nbsp;
                </div>

            </div>
          </div>

<br>

          <!--publicaciones-->
          <div class="card">
            <div class="card-header">
              <img src="../../assets/avalos3.jpg" width="40px" class="avatar" alt="">
             &nbsp; <a href="" style="color: #3333a7;"><b>Alejandro Avalos</b></a><br>
             <span style="padding-left: 50px">2h</span>
            </div>
            <div class="card-body">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque illum impedit quisquam assumenda quidem quos veniam illo obcaecati. Quisquam quam voluptate recusandae laudantium maiores doloribus veritatis ex dicta quasi?</span><br><br>    
            <img src="https://images.unsplash.com/photo-1553902865-370bd0eb4b5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" width="650px" alt="">
            <br>
    
            </div>
            <div align="center" class="card-footer">
                
                <button class="btn"><img src="../../assets/liked.png" width="30px" alt="">&nbsp;
                <span style="color: #3333a7;"><b>Me gusta</b></span>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button class="btn"><img src="../../assets/comment.png" width="30px" alt="">&nbsp;
                    <span style="color: #3333a7;"><b>Comentar</b></span>
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <button  class="btn"><img src="../../assets/share.png" width="30px" alt="">&nbsp;
                        <span style="color: #3333a7;"><b>Compartir</b></span>
                        </button>
                
            </div>
          </div>
          <br>

          <div class="card">
            <div class="card-header">
              <img src="../../assets/avalos.jpg" width="40px" class="avatar" alt="">
             &nbsp; <a href="" style="color: #3333a7;"><b>Daniel Santamaria</b></a><br>
             <span style="padding-left: 50px">2h</span>
            </div>
            <div class="card-body">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque illum impedit quisquam assumenda quidem quos veniam illo obcaecati. Quisquam quam voluptate recusandae laudantium maiores doloribus veritatis ex dicta quasi?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quisquam aperiam voluptatem! Perspiciatis libero nisi ex odio a repudiandae veritatis distinctio ipsa, autem quisquam eius ullam cupiditate aperiam in hic.
                </span><br>    
    
            </div>
            <div align="center" class="card-footer">
                
                <button class="btn"><img src="../../assets/liked.png" width="30px" alt="">&nbsp;
                <span style="color: #3333a7;"><b>Me gusta</b></span>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button class="btn"><img src="../../assets/comment.png" width="30px" alt="">&nbsp;
                    <span style="color: #3333a7;"><b>Comentar</b></span>
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <button  class="btn"><img src="../../assets/share.png" width="30px" alt="">&nbsp;
                        <span style="color: #3333a7;"><b>Compartir</b></span>
                        </button>
                
            </div>
          </div>



    </div>
    <!--Publicidad-->
    <div class="col-md-3">
        
        <div class="card">
            <img src="https://images.unsplash.com/photo-1534308983496-4fabb1a015ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text publicidad">
                  <a href="#"><b>Krusty Krab Pizza</b></a><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
          </div>
<br>
          <div class="card">
            <img src="https://images.unsplash.com/photo-1494666144702-70d86c6cf884?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text publicidad">
                  <a href="#"><b>Game Station</b></a><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
          </div>


    </div>
</div>
</div>